/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
.nrepl-port
resources/config.edn
resources/public/js/app.js
resources/public/js/cljs/
resources/public/js/cljs_http/
resources/public/js/clojure/
resources/public/js/cognitect/
resources/public/js/mike/
resources/public/js/no/
resources/public/js/reagent/
