;; Analyzed by ClojureScript 0.0-3308
{:name mike.frog, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {ribbit {:protocol-inline nil, :meta {:file "/home/mike/sandbox/mike/src/cljc/mike/frog.cljc", :line 3, :column 7, :end-line 3, :end-column 13, :arglists (quote ([name]))}, :name mike.frog/ribbit, :variadic false, :file "src/cljc/mike/frog.cljc", :end-column 13, :method-params ([name]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 3, :end-line 3, :max-fixed-arity 1, :fn-var true, :arglists (quote ([name]))}}}